:root {
  --primiry-text-color: #434455;
  --title-text-color: #2e2f42;
  --acent-color: #4d5ae5;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --active-color: #404bbf;
}

/* filter */

.title {
  color: var(--title-text-color);
}

.project-text {
  color: var(--primiry-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.btn {
  background-color: var(--secondary-white-color);
  color: var(--acent-color);
  cursor: pointer;
  font-family: inherit;
  border: none;
}
.btn:hover,
.btn:focus {
  background-color: var(--active-color);
  color: var(--primary-white-color);
}
